---
layout: main
title:
image: /images/generic/daniele_grattarola.jpg
---

<article>
<img src="/images/generic/daniele_grattarola.jpg" width=1000 height=667 style="grid-column: 1 / span 2;">

<div class="entry-content">
<p>
I am a research scientist at <a href="https://isomorphiclabs.com">Isomorphic Labs</a>.<br>
Previously, I was a postdoctoral researcher at <a href="https://www.epfl.ch/">EPFL</a>, as part of the <a href="https://lts2.epfl.ch/">LTS2</a> and <a href="https://www.epfl.ch/labs/lpdi/">LPDI</a> laboratories. 
</p>

<p>I research graph neural networks and their applications to dynamical systems and computational biology. I am also the creator of <a href="https://graphneural.network">Spektral</a>, a library for graph deep learning in TensorFlow/Keras.</p>

<p>I obtained my PhD at the <a href="https://idsia.ch/">Swiss AI Lab IDSIA</a>.    
I hold an MSc in Computer Science and Engineering with honors from <a href="https://polimi.it">Politecnico di Milano</a>.</p> 

<p>In my free time, I co-host and manage <a href="https://www.youtube.com/channel/UCEcWriMWPpO_RIbpkJvHc8w">Smarter Podcast</a>, a live-streaming podcast in Italian in which we interview AI researchers from academia and industry.</p>

<br>

<center>
    <span class='personal-social-media'>
        <a target="_blank" href="mailto:daniele.grattarola@gmail.com">
            <i class="icon-mail-alt" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://twitter.com/riceasphait" rel="noopener">
            <i class="icon-twitter" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://github.com/danielegrattarola" rel="noopener">
            <i class="icon-github-circled" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://scholar.google.com/citations?user=2AcU-iAAAAAJ&hl=en" rel="noopener">
            <i class="icon-graduation-cap" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://linkedin.com/in/danielegrattarola" rel="noopener">
            <i class="icon-linkedin-squared" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="/feed.xml">
            <i class="icon-rss" style="font-size: 30px;"></i>
        </a>
    </span>
</center>
</div>
</article>

<article>
    <h1 class="entry-title">News</h1>   

    <div class="entry-content">
        
        {% for item in site.data.news | limit: 100 %}
        <p>
        {% if item.news.date %}
        <span class="entry-date post-date date published updated">
            <time datetime="{{ item.news.date | date_to_xmlschema }}">
                {{ item.news.date | date: "%B %Y" }}
            </time>
        </span>
        <br>
        {% endif %}
        {{item.news.text}} 
        </p>
        {% endfor %}    
        
        
    </div> 
</article>
