---
layout: post-index
title:
image: /images/about/1.jpg
---

<article>
<img src="/images/about/1.jpg" style="grid-column: 1 / span 2;">

<div class="entry-content">
<p>I am a Ph.D. student at Università della Svizzera Italiana (CH) in the <a href="https://gmlg.ch/">Graph Machine Learning Group</a>.</p> 

<p>I research graph neural networks and their applications to systems that change over time. I am also the main developer of <a href="https://graphneural.network">Spektral</a>, a library for graph deep learning in TensorFlow/Keras.</p>

<p>In my free time I co-host and manage <a href="https://www.youtube.com/channel/UCEcWriMWPpO_RIbpkJvHc8w">Smarter Podcast</a>, a live streaming podcast in Italian in which we interview AI researchers from academia and industry.</p>

<p>I love coding, <a href="/blog">writing</a>, traveling, <a href="https://danielegrattarola.github.io/metaverse">creating visual art</a>, and spending time in the mountains.</p>

<br>

<center>
    <span class='personal-social-media'>
        <a target="_blank" href="https://twitter.com/riceasphait" rel="noopener">
            <i class="fab fa-twitter" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://github.com/danielegrattarola" rel="noopener">
            <i class="fab fa-github" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://scholar.google.com/citations?user=2AcU-iAAAAAJ&hl=en" rel="noopener">
            <i class="fa fa-graduation-cap" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="https://linkedin.com/in/danielegrattarola" rel="noopener">
            <i class="fab fa-linkedin" style="font-size: 30px;"></i>
        </a>
        <a target="_blank" href="/feed.xml">
            <i class="fas fa-rss" style="font-size: 30px;"></i>
        </a>
    </span>
</center>
</div>
</article>

<article>
    <h1 class="entry-title">Projects</h1>   

    <div class="entry-content">
        <p>
            This is a summary of my active projects.
            You can find a complete <a href="/publications">list of publications here</a> (including links to code) and a summary of <a href="/teaching">my teaching activity here</a>.
        </p>

        {% for item in site.data.projects %}
            <p>
                <strong>{{item.title}}.</strong>
                {% if item.description %}
                    <br>
                    {{item.description}}
                {% endif %}
            </p>
        {% endfor %}
    </div> 
</article>
