<span>
  &copy; {{ site.time | date: '%Y' }} Daniele Grattarola |
  <span class="personal-social-media">
    <a href="mailto:daniele.grattarola@gmail.com" aria-label="Email">
      <i class="icon-mail-alt social-icon social-icon-sm" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://x.com/riceasphait" rel="noopener noreferrer" aria-label="X">
      <i class="icon-twitter social-icon social-icon-sm" aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://github.com/danielegrattarola"
      rel="noopener noreferrer"
      aria-label="GitHub">
      <i class="icon-github-circled social-icon social-icon-sm" aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=2AcU-iAAAAAJ&hl=en"
      rel="noopener noreferrer"
      aria-label="Google Scholar">
      <i class="icon-graduation-cap social-icon social-icon-sm" aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://linkedin.com/in/danielegrattarola"
      rel="noopener noreferrer"
      aria-label="LinkedIn">
      <i class="icon-linkedin-squared social-icon social-icon-sm" aria-hidden="true"></i>
    </a>
    <a href="{{ '/feed.xml' | relative_url }}" aria-label="RSS feed">
      <i class="icon-rss social-icon social-icon-sm" aria-hidden="true"></i>
    </a>
  </span>
</span>
