<span>
  &copy; {{ site.time | date: '%Y' }} Daniele Grattarola |
  <span class="personal-social-media">
    <a target="_blank" href="mailto:daniele.grattarola@gmail.com" aria-label="Email">
      <i class="icon-mail-alt" style="font-size: 15px" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="https://x.com/riceasphait" rel="noopener" aria-label="X">
      <i class="icon-twitter" style="font-size: 15px" aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://github.com/danielegrattarola"
      rel="noopener"
      aria-label="Github">
      <i class="icon-github-circled" style="font-size: 15px" aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://scholar.google.com/citations?user=2AcU-iAAAAAJ&hl=en"
      rel="noopener"
      aria-label="Google Scholar">
      <i class="icon-graduation-cap" style="font-size: 15px" aria-hidden="true"></i>
    </a>
    <a
      target="_blank"
      href="https://linkedin.com/in/danielegrattarola"
      rel="noopener"
      aria-label="Linkedin">
      <i class="icon-linkedin-squared" style="font-size: 15px" aria-hidden="true"></i>
    </a>
    <a target="_blank" href="/feed.xml" aria-label="RSS feed">
      <i class="icon-rss" style="font-size: 15px" aria-hidden="true"></i>
    </a>
  </span>
</span>
