<span>
    &copy; {{ site.time | date: '%Y' }} Daniele Grattarola |
    <span class='personal-social-media'>
        <a target="_blank" href="mailto:daniele.grattarola@gmail.com">
            <i class="icon-mail-alt" style="font-size: 15px;"></i>
        </a>
        <a target="_blank" href="https://twitter.com/riceasphait" rel="noopener">
            <i class="icon-twitter" style="font-size: 15px;"></i>
        </a>
        <a target="_blank" href="https://github.com/danielegrattarola" rel="noopener">
            <i class="icon-github-circled" style="font-size: 15px;"></i>
        </a>
        <a target="_blank" href="https://scholar.google.com/citations?user=2AcU-iAAAAAJ&hl=en" rel="noopener">
            <i class="icon-graduation-cap" style="font-size: 15px;"></i>
        </a>
        <a target="_blank" href="https://linkedin.com/in/danielegrattarola" rel="noopener">
            <i class="icon-linkedin-squared" style="font-size: 15px;"></i>
        </a>
        <a target="_blank" href="/feed.xml">
            <i class="icon-rss" style="font-size: 15px;"></i>
        </a>
    </span>
</center>
