<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/fonts.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/slicknav.min.css' | relative_url }}" />
<link rel="stylesheet" href="{{ '/assets/css/fontello.css' | relative_url }}" />

<link
  href="{{ '/feed.xml' | absolute_url }}"
  type="application/atom+xml"
  rel="alternate"
  title="{{ site.title }} Feed" />

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1BL95CLGE3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-1BL95CLGE3");
</script>
