<div class="pagination">
    {% if paginator.total_pages > 1 %}

        {% if paginator.page == 1 %}
            <a href="{{ paginator.next_page_path }}">OLDER→</a>
        {% endif %}
    
        {% if paginator.page == 2 %}
            <a href="/">←NEWER</a>
            {% if paginator.page < paginator.total_pages %}
                | <a href="{{ paginator.next_page_path }}">OLDER→</a>
            {% endif %}
        {% endif %}
                                         
        {% if paginator.page > 2 %}
            <a href="{{ paginator.previous_page_path }}">←NEWER</a>

            {% if paginator.page < paginator.total_pages %}
                | <a href="{{ paginator.next_page_path }}">OLDER→</a>
            {% endif %}

        {% endif %}
    {% endif %}
</div>
