---
layout: main
title: Activity
image: /images/main/daniele_grattarola_cofold_summit_2026.png
---

<article>
  <div class="entry-content">
    <h1>Career</h1>

    <div class="content-center">
      <img
        src="{{page.image}}"
        alt="A picture of Daniele Grattarola giving a talk at the 2026 CoFold Summit in Barcelona."
        width="743"
        height="437"
        loading="eager"
        decoding="async"
        class="full-width" />
    </div>

    {% for item in site.data.experience %}
    <p>
      <span class="entry-date post-date date published updated">{{item.date}}</span><br />
      {% if item.url %}
      <a href="{{item.url}}" target="_blank" rel="noopener noreferrer"
        ><strong>{{item.company}}</strong></a
      >
      {% else %}
      <strong>{{item.company}}</strong>
      {% endif %}
      <br />
      <strong>{{item.title}}</strong><br />
      {{ item.description }} {% for role in item.previous_roles %} {% if forloop.first %} {% unless
      forloop.last %}
      <br />Previously: {% endunless %} {% endif %}{{ role.title }}{% if role.date %} ({{ role.date
      }}){% endif %}{% unless forloop.last %}, {% else %}.{% endunless %}{% endfor %}
    </p>
    {% endfor %}
  </div>
</article>

<article>
  <div class="entry-content">
    <h1>Academia</h1>

    <h3>Teaching</h3>
    I have contributed to teaching, organizing, and supervising these university courses:
    <ul>
      {% for item in site.data.teaching %}
      <li>
        <a href="{{item.url}}"><strong>{{item.title}}</strong></a
        >, {{item.role}} ({{item.location}}, {{item.period}})
      </li>
      {% endfor %}
    </ul>

    <h3>Faculty roles</h3>

    I have been Ph.D. representative for USI's Faculty of Computer Science in 2018/2019.
    <br />
    During that time, I was the official point of contact between the Faculty and its doctoral
    students, participating in Faculty meetings and contributing to the strategic decisions of the
    University.

    <h3>Awards</h3>

    <ul>
      <li>
        Awarded a
        <a
          href="https://www.snf.ch/en/mKVdFSoD7dwtinOR/funding/supplementary-measures/mobility-grants-in-projects"
          >Mobility grant</a
        >
        of 18.000 CHF by the Swiss National Science Foundation in 2019.
      </li>
    </ul>
  </div>
</article>

<article>
  <div class="entry-content">
    <h1>Community & Open Source</h1>
    This is a list of my past and current roles as a member of the AI community:
    <ul>
      {% for item in site.data.community %}
      <li>{{item}}</li>
      {% endfor %}
    </ul>

    <h3>Spektral</h3>
    I am the main developer of <a href="https://graphneural.network">Spektral</a>, an open-source
    Python library for creating graph neural networks in TensorFlow and Keras. The project has
    thousands of active users and was one of the first libraries ever created for graph deep
    learning.
  </div>
</article>

<article>
  <div class="entry-content">
    <h1>Supervising & Mentoring</h1>

    {% for item in site.data.students %}
    <p>
      <strong>{{item.title}}</strong><br />
      {{item.name}} &nbsp;|&nbsp; {{item.type}} ({{item.location}}, {{item.year}})
    </p>
    {% endfor %}
  </div>
</article>

<article>
  <div class="entry-content">
    <h1>Talks</h1>

    {% assign grouped_talks = site.data.talks | group_by: "title" %} {% for group in grouped_talks
    %}
    <p>
      <strong>{{ group.name }}</strong><br />

      {% for item in group.items %}
      <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.venue }}</a> ({{
      item.period }}) {% if item.slides or item.video %} &nbsp;|&nbsp; {% endif %} {% if item.slides
      %}
      <a href="{{ item.slides }}" class="unstyled-link"> <i class="icon-television"></i> Slides </a>
      &nbsp; {% endif %} {% if item.video %}
      <a href="{{ item.video }}" class="unstyled-link" target="_blank" rel="noopener noreferrer">
        <i class="icon-youtube-play"></i> Video
      </a>
      &nbsp; {% endif %}
      <br />
      {% endfor %}
    </p>
    {% endfor %}
  </div>
</article>

<article>
  <div class="entry-content">
    <h1>Reviewing</h1>

    <p>I have served as reviewer for these AI conferences, journals, and workshops:</p>

    <h3>Conferences</h3>
    <ul>
      {% for item in site.data.review.conferences %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>

    <h3>Journals</h3>
    <ul>
      {% for item in site.data.review.journals %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>

    <h3>Workshops</h3>
    <ul>
      {% for item in site.data.review.workshops %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</article>
