---
layout: main
title: Activity
image: /images/header/publications.png
---

<article>
    <div class="entry-content">

    <h1>Experience</h1>

    <p>This is a summary of my professional experience, including teaching, supervising students, and participating in the machine learning community.</p>
    
    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Career</h1>

    {% for item in site.data.experience %}
        <p>
            <a href="{{item.url}}"><strong>{{item.company}}</strong></a><br> 
            {% for pos in item.positions %}
                {% if forloop.first %}
                  {{pos.title}} ({{pos.date}})<br>
                  {{item.description}}
                  {% unless forloop.last %}<br>Previous roles: {% endunless %}
                {% else %}
                  {{pos.title}} ({{pos.date}}){% unless forloop.last %}, {% endunless %}.
                {% endif %}
            {% endfor %}
        </p>
    {% endfor %}
    
    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Academia</h1>

    <h3>Teaching</h3>
    I have contributed to teaching, organizing, and supervising these university courses:
    <ul>
    {% for item in site.data.teaching %}
        <li>
            <a href="{{item.url}}"><strong>{{item.title}}</strong></a>, 
            {{item.role}} 
            ({{item.location}}, {{item.period}})
        </li>
    {% endfor %}
    </ul>

    <h3>Faculty roles</h3>

    I have been Ph.D. representative for USI's Faculty of Computer Science in 2018/2019. 
    <br>
    During that time, I was the official point of contact between the Faculty and its doctoral students, participating in Faculty meetings and contributing to the strategical decisions of the University.

    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Community</h1>
    This is a list of my past and current roles as a member of the AI community:
    <ul>
    {% for item in site.data.community %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>

    <h3>Spektral</h3>
    I am the main developer of <a href="https://graphneural.network">Spektral</a>, an open-source Python library for creating graph neural networks in TensorFlow and Keras. The project has thousands of active users and was one of the first libraries ever created for graph deep learning.
</article>

<article>
    <div class="entry-content">
    
    <h1>Supervising & Mentoring</h1>
    
    {% for item in site.data.students %}
        <p>
            <strong>{{item.title}}</strong><br>
            {{item.name}}
            &nbsp;|&nbsp; {{item.type}} ({{item.location}}, {{item.year}})
        </p>
    {% endfor %}
    
    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Talks</h1>
    
    {% for item in site.data.talks %}
        <p>
            <strong>{{item.title}}</strong><br>
            <a href="{{item.url}}">{{item.venue}}</a> ({{item.period}})
            {% if item.slides or item.video %}
                <!-- <br> -->
                &nbsp;|&nbsp;
            {% endif %}
            {% if item.slides %}
                <a href="{{item.slides}}" style="border-bottom: none;"><i class="icon-television"></i> Slides</a>&nbsp;
            {% endif %}
            {% if item.video %}
                <a href="{{item.video}}" style="border-bottom: none;"><i class="icon-youtube-play"></i> Video</a>&nbsp;
            {% endif %}
        </p>
    {% endfor %}
    
    </div>
</article>

<article>
    <div class="entry-content">
    
    <h1>Reviewing</h1>

    <p>
        I have served as reviewer for these AI conferences, journals, and workshops:
    </p>
    
    <h3>Conferences</h3>
    <ul>
    {% for item in site.data.review %}
        {% if item.conference %}
        <li>
            {{item.conference}}
        </li> 
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Journals</h3>
    <ul>
    {% for item in site.data.review %}
        {% if item.journal %}
        <li>
            {{item.journal}}
        </li> 
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Workshops</h3>
    <ul>
    {% for item in site.data.review %}
        {% if item.workshop %}
        <li>
            {{item.workshop}}
        </li> 
        {% endif %}
    {% endfor %}
    </ul>
    
    </div>
</article>
