.circle {
	background-color: transparent;
	border-radius:50%;
	align-items:center;
	justify-content:center;
}

.circle:after {
	border-radius: 50%;
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	padding-top: 75%;
	width: 75%;
	margin: auto;
	background-color: #ffffff;
	animation-name: breathe;
	animation-duration: 9s;
	animation-iteration-count: infinite;
}

.neon-circle:after {
	box-shadow: 0 0 10px rgba(255,255,255,1), 
				0 0 20px rgba(255,255,255,1), 
				0 0 30px rgba(255,255,255,1), 
				0 0 40px #b03bd8, 
				0 0 70px #b03bd8, 
				0 0 80px #b03bd8, 
				0 0 100px #b03bd8;
}

@keyframes breathe {
	0%   { content: ""; transform: scale(0.2); }
	49%  { content: "" }
	50%  { transform: scale(1) }
	51%  { content: ""; }
	99%  { content: ""; }
	100% { content: ""; transform: scale(0.2) }
}

.title {
	text-shadow: 0 0 10px rgba(255,255,255,1), 
			     0 0 40px #b03bd8, 
				 0 0 70px #b03bd8, 
				 0 0 80px #b03bd8, 
				 0 0 100px #b03bd8;
}

.image {
	padding-bottom: 3em;  /* Compensate for extra space taken by neon effect*/
}
