---
layout: main
title: Activity
image: /images/header/publications.png
---

<article>
    <div class="entry-content">

    <h1>Activity</h1>

    <p>This page contains a summary of my activity and experience, including teaching, supervising students, and participating in the machine learning community.</p>
    
    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Academia</h1>

    <h2>Teaching</h2>
    I have helped organize, teach, and supervise the following university courses:
    <ul>
    {% for item in site.data.teaching %}
        <li>
            <a href="{{item.url}}">{{item.title}}</a>,
            {{item.role}},
            {{item.type}},
            {{item.location}},
            {{item.period}}.
        </li>
    {% endfor %}
    </ul>

    <h2>Faculty roles</h2>

    I have been the Ph.D. representative for USI's Faculty of Informatics in the A.Y. 2018/2019. 
    <br>
    During that time, I was the official point of contact between USI’s Faculty of Informatics and its Ph.D. students, participating in faculty meetings and contributing to the strategical decisions of the faculty.

    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Community</h1>
    This is a list of my past and current roles as an active member of the machine learning community:
    <ul>
    {% for item in site.data.community %}
        <li>{{item}}</li>
    {% endfor %}
    </ul>
</article>

<article>
    <div class="entry-content">
    
    <h1>Supervision & Mentoring</h1>
    
    {% for item in site.data.students %}
        <p>
            <strong>{{item.title}}</strong><br>
            {{item.name}}&nbsp;|&nbsp;{{item.type}} ({{item.year}})
        </p>
    {% endfor %}
    
    </div>
</article>

<article>
    <div class="entry-content">

    <h1>Talks</h1>
    
    {% for item in site.data.talks %}
        <p>
            <strong>{{item.title}}</strong><br>
            <a href="{{item.url}}">{{item.venue}}</a> ({{item.period}})
            {% if item.slides or item.video %}
                <!-- <br> -->
                &nbsp;|&nbsp;
            {% endif %}
            {% if item.slides %}
                <a href="{{item.slides}}" style="border-bottom: none;"><i class="icon-television"></i> Slides</a>&nbsp;
            {% endif %}
            {% if item.video %}
                <a href="{{item.video}}" style="border-bottom: none;"><i class="icon-youtube-play"></i> Video</a>&nbsp;
            {% endif %}
        </p>
    {% endfor %}
    
    </div>
</article>

<article>
    <div class="entry-content">
    
    <h1>Reviewing</h1>

    <p>
        I have served as reviewer for the following artificial intelligence conferences, journals and workshops. 
    </p>
    
    <h3>Conferences</h3>
    <ul>
    {% for item in site.data.review %}
        {% if item.conference %}
        <li>
            {{item.conference}}
        </li> 
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Journals</h3>
    <ul>
    {% for item in site.data.review %}
        {% if item.journal %}
        <li>
            {{item.journal}}
        </li> 
        {% endif %}
    {% endfor %}
    </ul>

    <h3>Workshops</h3>
    <ul>
    {% for item in site.data.review %}
        {% if item.workshop %}
        <li>
            {{item.workshop}}
        </li> 
        {% endif %}
    {% endfor %}
    </ul>
    
    </div>
</article>
